<app-navbar></app-navbar>
<div class="min-h-screen bg-gray-50 dark:bg-gray-800 w-full pt-10">
  <main class="mx-auto px-2 sm:px-4 py-4 sm:py-6 space-y-6 sm:space-y-8">
    <div class="flex justify-end m-6 mt-1">
      <app-dropdown></app-dropdown>
    </div>
    <router-outlet></router-outlet>
    @if (mostrarBloqueDeAbajo) {

    <div class="w-full px-2 sm:px-4">
      <div
        class="bg-white dark:bg-gray-700 rounded-xl shadow-lg overflow-hidden"
      >
        <app-change-task-type class="block w-full"></app-change-task-type>

        <div class="p-4">
          @switch (taskType()) { @case ('listening') {
          <app-see-listeningtasks class="block w-full"></app-see-listeningtasks>
          } @case ('reading') {
          <app-see-reading-tasks class="block w-full"></app-see-reading-tasks>
          } @case ('speaking') {
          <app-see-speaking-tasks class="block w-full"></app-see-speaking-tasks>
          } @case ('writing') {
          <app-see-writing-tasks class="block w-full"></app-see-writing-tasks>
          } @default {
          <div class="p-4 text-center text-gray-500 dark:text-gray-400">
            Selecciona un tipo de tarea
          </div>
          } }
        </div>
      </div>
    </div>
    }
  </main>
</div>
